<script lang="ts">
	import type { PageServerData } from './$types';
	import UpdateInfoForm from './UpdateInfoForm.svelte';

	export let data: PageServerData;
</script>

<hr />

{#if data?.user}
	<p>{data?.user?.type}</p>
	<p>cellphone: {data?.user?.cellphone}</p>
	<p>banks: {data?.user?.banks}</p>
	<p>crypto wallets: {data?.user?.cryptoWallets}</p>
{/if}
<UpdateInfoForm />
