<form action="/profile/?/update" method="post">
	<label for="type">cellphone</label>
	<input type="text" name="cellphone" placeholder="cellphone" /><br />
	<label for="type">bank</label>
	<input type="text" name="bank" placeholder="bank" /><br />
	<label for="type">cryptowallet</label>
	<input type="text" name="cryptoWallet" placeholder="crypto wallet" /><br />
	<label for="type">password</label>
	<input type="text" name="password" placeholder="password" /><br />
	<button type="submit">save</button>
</form>
