<script lang="ts">
	import type { LayoutServerData } from './$types';
	import Logout from './Logout.svelte';

	export let data: LayoutServerData;
</script>

{#if data?.username}
	<nav>
		<a href="/profile">profile ({data?.username})</a>
		<a href="/">account</a>
		<a href="/">notes</a>

		<a href="/">pay</a>
		<a href="/">lend</a>
		<a href="/">borrow</a>

		<a href="/">deposit</a>
		<a href="/">withdraw</a>
		<Logout />
	</nav>
{/if}

<slot />

<style>
	:global(body) {
		background-color: grey;
		color: white;
	}

	:global(a) {
		color: white;
	}
</style>
