<form method="post" action="/login">
	<label for="username">username</label>
	<input type="text" name="username" placeholder="username" /><br />
	<label for="password">password</label>
	<input type="password" name="password" placeholder="password" /><br />
	<button type="submit">login</button>
</form>
